<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UnleashedSQLManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <UnleashedSQLManager.Properties.Settings>
            <setting name="sqlserver" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="sqluser" serializeAs="String">
                <value>dayzunleashed</value>
            </setting>
            <setting name="sqlpassword" serializeAs="String">
                <value>dayzunleashed</value>
            </setting>
            <setting name="sqlport" serializeAs="String">
                <value>3306</value>
            </setting>
            <setting name="sqldatabase" serializeAs="String">
                <value>dayzunleashed</value>
            </setting>
            <setting name="vehicleSpawnAmount" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="validInventoryItems" serializeAs="String">
                <value>item_etool</value>
            </setting>
            <setting name="emailServer" serializeAs="String">
                <value>smtp.gmail.com</value>
            </setting>
            <setting name="emailPassword" serializeAs="String">
                <value>20hng-10goo10</value>
            </setting>
            <setting name="emailUser" serializeAs="String">
                <value>thevisad@gmail.com</value>
            </setting>
            <setting name="emailPort" serializeAs="String">
                <value>465</value>
            </setting>
            <setting name="emailRecipient" serializeAs="String">
                <value>thevisad@gmail.com</value>
            </setting>
            <setting name="emailSender" serializeAs="String">
                <value>thevisad@gmail.com</value>
            </setting>
            <setting name="emailSenderName" serializeAs="String">
                <value>Unleashed SQL Manager</value>
            </setting>
            <setting name="emailSSL" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="emailSend" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="daystoclean" serializeAs="String">
                <value>7</value>
            </setting>
        </UnleashedSQLManager.Properties.Settings>
    </applicationSettings>
</configuration>