<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DayZUnleashedFileHash.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <DayZUnleashedFileHash.Properties.Settings>
            <setting name="filepath" serializeAs="String">
                <value>E:\dev_unleashedclient\addons\client\</value>
            </setting>
            <setting name="biprivatekey" serializeAs="String">
                <value>dayzunleashed.biprivatekey</value>
            </setting>
            <setting name="biprivatekeyPath" serializeAs="String">
                <value>D:\TheVisad\Documents\ArmAWork\securityTools\</value>
            </setting>
            <setting name="DSSignFilePath" serializeAs="String">
                <value>D:\TheVisad\Documents\ArmAWork\securityTools\</value>
            </setting>
            <setting name="filesToSign" serializeAs="String">
                <value>activeLoot.pbo*aif_napfobjects.pbo*ASC_EU_Lights.pbo*bb_oa_female.pbo*cwr2_buildings.pbo*cwr2_buildings_config.pbo*cwr2_furniture.pbo*dayz.pbo*dayz_anim.pbo*dayz_code.pbo*dayz_communityassets.pbo*dayz_epoch.pbo*dayz_equip.pbo*dayz_sfx.pbo*dayz_vehicles.pbo*dayz_weapons.pbo*ew_wrecks_unleashed.pbo*extra_kamaz.pbo*ghillies_for_a_change.pbo*ibr_rn.pbo*kpfs_uaz451.pbo*kpfs_waysigns.pbo*kpfs_weapons.pbo*MAP_EU.pbo*mbg_buildings_2.pbo*mbg_buildings_3.pbo*mbg_generic_african_buildings.pbo*mbg_killhouses.pbo*napf.pbo*osshdy.pbo*st_collision.pbo*st_evasive.pbo*swm_misc.pbo*swm_swissarms.pbo*unleashed_pack.pbo</value>
            </setting>
        </DayZUnleashedFileHash.Properties.Settings>
    </applicationSettings>
</configuration>